{% import "bootstrap/wtf.html" as wtf %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital Certificates Trust Verifier</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container text-center mt-5">
        <div class="row">
            <div class="col-12">
                <h1>Digital Certificates Trust Verifier</h1>
            </div>
        </div>
        <form action="{{url_for('index')}}" method="POST" enctype="multipart/form-data">
            <div class="row mt-5 form-basic">
                <div class="col-lg-7 col-sm-12 pb-3">
                    <div class="form-group">
                        {{login_form.url (class="form-control", placeholder="[Ingresar URL a verificar ...]")}}
                    </div>
                </div>
                <div class="col-lg-2 col-sm-3">
                    {{login_form.verify (class="btn btn-primary btn-md")}}
                </div>
                <div class="col-lg-3 col-sm-9">
                    {{login_form.file (class="btn btn-secondary btn-sm button-file")}}
                </div>
            </div>
        </form>

        <div class="mt-5">
            {%for message in get_flashed_messages() %}
                <div class="alert alert-danger alert-dismissible">
                    <button type="button" data-dismiss="alert" class="close">&times;</button>
                    {{message}}
                </div>
            {%endfor%}
        </div>
        <div class="text-center">
            {% if urls %}
                <div class="row mt-3">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-3" style="display:inline-block;vertical-align:top;"> 
                        <span class="fw-bold">Microsoft Edge</span>
                        <img src='/static/images/edge.png' width="20" height="20" />
                    </div>
                    <div class="col-lg-3"> 
                        <span class="fw-bold">Google Chrome</span>
                        <img src='/static/images/chrome.png' width="30" height="20" />
                    </div>
                    <div class="col-lg-3"> 
                        <span class="fw-bold">Mozilla Firefox</span>
                        <img src='/static/images/mozilla.png' width="20" height="20" />
                    </div>
                </div>
                <div class="container">
                    {% for url in urls%}
                    {%set x=get_relevant(url)%}
                    <div class="row mt-3">
                        <div class="col-lg-3"><span class="fw-bold text-decoration-underline" >{{url}}</span></div>
                        <div class="col-lg-3" style="display:inline-block;vertical-align:top;">
                            {%if x['edge_trust_level']==1%}
                                <img src='/static/images/1Chrome.png' width="30" height="20" />
                            {% elif x['edge_trust_level']==2 %}
                                <img src='/static/images/2edge.jpg' width="30" height="20" />
                            {% else %}
                                <img src='/static/images/3edge.png' width="30" height="20" />
                            {%endif%}
                        </div>
                        <div class="col-lg-3">
                            {%if x['chrome_trust_level']==1%}
                                <img src='/static/images/1Chrome.png' width="30" height="20" />
                            {% elif x['chrome_trust_level']==2 %}
                                <img src='/static/images/2Chrome.png' width="30" height="20" />
                            {% else %}
                                <img src='/static/images/3CHrome.png' width="30" height="20" />
                            {%endif%}
                        </div>
                        <div class="col-lg-3">
                            {%if x['mozilla_trust_level']==1%}
                                <img src='/static/images/1Mozzila.png' width="30" height="20" />
                            {% elif x['mozilla_trust_level']==3 %}
                                <img src='/static/images/2Mozzila.png' width="30" height="20" />
                            {% else %}
                                <img src='/static/images/3Mozzila.png' width="30" height="20" />
                            {%endif%}
                        </div>
                </div>
                <div class="container">
                    <div class="row mt-3">
                        <button type="button" class="col-lg-3 btn btn-primary" data-toggle="modal" data-target="#myModal">Ver cadena de certificación</button>
                    </div>
                </div>

                <div class="modal" id="myModal" role="dialog">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h4 class="modal-title">Informacion de {{ url }}</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                
                        </div>
                        <div class="modal-body">
                        
                        <div class="form-row">
                            
                            <div class="container">
                            <table class="table">
                                <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Validez</th>
                                    <th scope="col">Llave Pública</th>
                                    <th scope="col">Usos de la llave</th>
                                    <th scope="col">SHA-1</th>
                                    <th scope="col">Serial Number</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for certificado in x['cadena']%}
                                    <tr class="text-break">
                                        
                                        <td>{{ certificado['name'] }}</td>
                                        <td>{{ certificado['desde'] }}- {{ certificado['hasta'] }}</td>
                                        <td>{{ certificado['algoritmo'] }} - {{ certificado['tamanhollave'] }}</td>
                                        <td>{{ certificado['uso_de_llave'] }}</td>
                                        <td>{{ certificado['sha1'] }}</td>
                                        <td>{{ certificado['serial'] }}</td>
                                        
                                    </tr>
                                    {%endfor%}
                                </tbody>
                            </table>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                        </div>
                
                    </div>
                </div>
                </div>
                {%endfor%}

                <div class="col-12 mt-5 mb-5">
                    <a href="{{url_for('signout')}}" class="btn btn-primary btn-md">Limpiar todo</a>
                </div>
            {%endif%}
            {% if url %}
                <p>{{url}}</p>
            {%endif%}
            
        </div>
        <div class="row section-trust-store text-center">
            <div class="col-4">
                <a href="{{url_for('show_trusts', navegator='mozilla')}}" class="btn btn-primary btn-md">Ver Mozilla Trust Store</a>
            </div>
            <div class="col-4">
                <a href="{{url_for('show_trusts', navegator='edge')}}" class="btn btn-primary btn-md">Ver Microsot Trust Store</a>
            </div>
            <div class="col-4">
                <a href="{{url_for('show_trusts', navegator='chrome')}}" class="btn btn-primary btn-md">Ver Google Trust Store</a>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
</body>
</html>