{% import "bootstrap/wtf.html" as wtf %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital Certificates Trust Verifier</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <div class="container text-center mt-5">
        <div class="row">
            <div class="col-12">
                <h1>Digital Certificates Trust Verifier</h1>
            </div>
        </div>
        <form action="{{url_for('index')}}" method="POST" enctype="multipart/form-data">
            <div class="row mt-5 form-basic">
                <div class="col-lg-7 col-sm-12 pb-3">
                    <div class="form-group">
                        {{login_form.url (class="form-control", placeholder="[Ingresar URL a verificar ...]")}}
                    </div>
                </div>
                <div class="col-lg-2 col-sm-3">
                    {{login_form.verify (class="btn btn-primary btn-md")}}
                </div>
                <div class="col-lg-3 col-sm-9">
                    {{login_form.file (class="btn btn-secondary btn-sm button-file")}}
                </div>
            </div>
        </form>

        <div class="mt-5">
            {%for message in get_flashed_messages() %}
                <div class="alert alert-danger alert-dismissible">
                    <button type="button" data-dismiss="alert" class="close">&times;</button>
                    {{message}}
                </div>
            {%endfor%}
        </div>
        <div class="text-center">
            {% if urls %}
                <div class="row mt-3">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-3" style="display:inline-block;vertical-align:top;"> 
                        <span class="fw-bold">Microsoft Edge</span>
                        <img src='/static/images/edge.png' width="20" height="20" />
                    </div>
                    <div class="col-lg-3"> 
                        <span class="fw-bold">Google Chrome</span>
                        <img src='/static/images/chrome.png' width="30" height="20" />
                    </div>
                    <div class="col-lg-3"> 
                        <span class="fw-bold">Mozilla Firefox</span>
                        <img src='/static/images/mozilla.png' width="20" height="20" />
                    </div>
                </div>
                {% for url in urls%}
                <div class="row mt-3">
                    <div class="col-lg-3"><span class="fw-bold text-decoration-underline" >{{url}}</span></div>
                    <div class="col-lg-3" style="display:inline-block;vertical-align:top;">
                        {%set x=get_relevant(url)%}
                        {%for a in range(1, 4)%}
                            {%if a == x['edge_trust_level'] and x['in_edge']==True%}
                                <button class="button{{x['in_edge']}} trust-{{x['edge_trust_level']}}"></button>
                            {% else %}   
                                <button class="button{{x['in_edge']}}"></button>
                            {%endif%}
                            {%endfor%}
                    </div>
                    <div class="col-lg-3"> 
                        {%for a in range(1, 4)%}
                            {%if a == x['chrome_trust_level'] and x['in_chrome']==True %}
                                <button class="button{{x['in_chrome']}} trust-{{x['chrome_trust_level']}}"></button>
                            {% else %}   
                                <button class="button{{x['in_chrome']}} "></button></button>
                            {%endif%}
                            {%endfor%}
                    </div>
                    <div class="col-lg-3">
                        {%for a in range(1, 4)%}
                            {%if a == x['mozilla_trust_level'] and x['in_mozilla']==True %}
                                <button class="button{{x['in_mozilla']}} trust-{{x['mozilla_trust_level']}}"></button>
                            {% else %}   
                                <button class="button{{x['in_mozilla']}}"></button>
                            {%endif%}
                            {%endfor%}
                        
                       
                        
                    </div>
                </div>
                {%endfor%}
                <div class="col-12 mt-5 mb-5">
                    <a href="{{url_for('index')}}" class="btn btn-primary btn-md">Limpiar todo</a>
                </div>
            {%endif%}
            {% if url %}
                <p>{{url}}</p>
            {%endif%}
            
        </div>
        <div class="row section-trust-store text-center">
            <div class="col-4">
                <a href="{{url_for('show_trusts', navegator='mozilla')}}" class="btn btn-primary btn-md">Ver Mozilla Trust Store</a>
            </div>
            <div class="col-4">
                <a href="{{url_for('show_trusts', navegator='edge')}}" class="btn btn-primary btn-md">Ver Microsot Trust Store</a>
            </div>
            <div class="col-4">
                <a href="{{url_for('show_trusts', navegator='chrome')}}" class="btn btn-primary btn-md">Ver Google Trust Store</a>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
</body>
</html>