{% import "bootstrap/wtf.html" as wtf %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <div class="container text-center mt-5">
        <div class="row">
            <div class="col-12">
                <h1> {{navegator.capitalize()}} Statistics</h1>
            </div>
        </div>
        <div class="table table-responsive mt-3">
            <table class="table table-responsive table-bordered table-fixed">
                <thead>
                <tr >
                <th scope="col" style="min-width: 200px;">
                
                    <h5 class="fw-bold text-decoration-underline">Total de certificados</h5>
                
                </th>
                <th scope="col" style="min-width: 200px;">
                
                    <h5 class="fw-bold text-decoration-underline">Tipos de llaves</h5>
                    
                
                </th>
                <th scope="col" style="min-width: 200px;">
                
                    <h5 class="fw-bold text-decoration-underline">Tamaño de llaves</h5>
                    
                
                </th>
                <th scope="col" style="min-width: 200px;">
                
                    <h5 class="fw-bold text-decoration-underline">Periodos de validez</h5>
                
                 </th>
                <th scope="col" style="min-width: 200px;">
                
                    <h5 class="fw-bold text-decoration-underline">CD</h5>
                    
                 </th>
            
                </tr>
                </thead>
                <tbody>
                    <tr>
                        
                        <th scope="row">{{c|length}}</th>
                        <td >
                            {% set algoritmos = [] %}
                            {%for certificate in c %}
                            {{algoritmos.append(certificate.public_key.algorithm.upper())|default("", True)}}
                            {%endfor%}
                            {{ algoritmos|unique|list }}</td>

                        <td >
                            {% set tamllaves = []%}
                            {%for certificate in c %}
                            {{tamllaves.append(certificate.public_key.bit_size)|default("", True)}}
                            {%endfor%}     
                            {{ tamllaves|unique|list}}</td>
                        <td ></td>
                        <td ></td>
                        
                        
                    </tr>
                    
                </tbody>

            </table>

    </div>
    <div class="container text-center mt-5">
        <div class="row">
            <div class="col-12">
                <h1> {{navegator.capitalize()}} Trust Store Certificate</h1>
            </div>
        </div>
        <div class="table table-responsive mt-3">
            <table class="table table-responsive table-bordered table-fixed">
                <thead>
                <tr >
                <th scope="col" style="min-width: 200px;">
                
                    <h5 class="fw-bold text-decoration-underline">Nombre</h5>
                
                </th>
                <th scope="col" style="min-width: 200px;">
                
                    <h5 class="fw-bold text-decoration-underline">Validez</h5>
                    <p class="fw-bold">Desde - Hasta</p>
                
                </th>
                <th scope="col" style="min-width: 200px;">
                
                    <h5 class="fw-bold text-decoration-underline">Llave Pública</h5>
                    <p class="fw-bold">Algoritmo - Tamaño</p>
                
                </th>
                <th scope="col" style="min-width: 200px;">
                
                    <h5 class="fw-bold text-decoration-underline">Usos de la llave</h5>
                
                 </th>
                <th scope="col" style="min-width: 200px;">
                
                    <h5 class="fw-bold text-decoration-underline">SHA-1</h5>
                    
                 </th>
                <th scope="col" style="min-width: 200px;">
                
                    <h5 class="fw-bold text-decoration-underline">Serial Number</h5>
                
                </th>
                </tr>
                </thead>
                <tbody>
                    {%for certificate in c %}
                    <tr>
                        <th scope="row">{{certificate.subject.human_friendly.replace('; ', ', ').split(",",1)[0]}}</th>
                        <td >{{certificate.not_valid_before.date()}} / {{certificate.not_valid_after.date()}}</td>
                        <td >{{certificate.public_key.algorithm.upper()}} - {{certificate.public_key.bit_size}}</td>
                        <td >{{certificate.key_usage_value.native}}</td>
                        <td >{{certificate.sha1_fingerprint}}</td>
                        <td >{{certificate.serial_number}}</td>
                    </tr>
                    {%endfor%}
                </tbody>

            </table>
        </div>  
        <div class="col-12 mb-5">
            <a href="{{url_for('index')}}" class="btn btn-primary btn-md">Ir al inicio</a>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
</body>
</html>